name: Feature Branch CI
run-name: ${{ github.actor }} is testing out continuous integration 
on: 
  push:
    branches:
      - "*"
      - "!main"

jobs:
  lint:
   runs-on: ubuntu-latest
   steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fetch main branch for comparison
        run:  git fetch origin main:main

      - name: Run Super-Linter
        uses: github/super-linter/slim@v6
        env:
              DEFAULT_BRANCH: main
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Super-Linter
        uses: github/super-linter/slim@v6
        env:
              DEFAULT_BRANCH: main
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
    
  test:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install dependencies
        run:  npm install
      - name: Run tests
        run:  npm test
      
  secret-scan:
    runs-on: ubuntu-latest
    steps:
       - name: Checkout code
         uses: actions/checkout@v4
       - name: Scan for secrets
         uses: trufflesecurity/trufflehog@main
